.lightswitch {
    width: 2.5em;
    display: inline-block;
    transition: all .3s;
}
.lightswitch-icon {
    padding-bottom: 0px;
}
.dark {
    > body{background: #101010; color: #FDFDFD}
    .card {background: #202020;}
}
.dark input {
    background-color: #505050;
    text: #EEEEEE;
}
.dark .modal .overlay~* {
    background: #202020;
}
.dark #chat {
    background: #111c15;
}
.dark #chat p {
        background: #2e503a;
}

.dark nav {
    background: rgba(0,25,50,0.75);
}